.app {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
}

.button-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-top: 2rem;
  text-shadow: 1px 0 8px #171923; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 1px 0 8px #171923;
  -webkit-text-shadow: 1px 0 8px #171923;
}
